/* algemene css */
*{
    margin: 0;
    padding: 0;
}
/* eind algemene css */

/* header */
header{
    display: flex;
    justify-content: space-between;
}
header .logo img{
    
}
header nav .menu-items{
    display: flex;
}
header nav .menu-items .menu-item{
    list-style-type: none;
}
header nav .menu-items .menu-item .btn{
    margin: 5px 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: larger;
}
/* eind header */

/* main */
main div{
    display: flex;
}
main div .tekst{
    flex-direction: column;
}

main div .foto2{
    height: 300px;
    border-radius: 15px;
}
main .container{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    margin-top: 50px;
    justify-content: space-between;
    
}
main .container .huis{
    height: 350px;
    width: 350px;
    border: 5px solid lightblue;
}
main .container .plattegrond{
    height: 350px;
    width: 350px;
    border: 5px solid lightblue;
}
main .container .ligging{
    width: 400px;
    height: 350px;
    border: 5px solid lightblue;
}
main .onderkant{
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
}

/* eind main */
/*  footer*/
/*  eind footer*/